<!DOCTYPE html>
<html>

<body>

<h1>Mes réseaux</h1>

<p>
<a href="https://www.tiktok.com/@dji.efootbal" target="_blank">
Mon TikTok
</a>
</p>

<p>
<a href="https://www.youtube.com/@dji.eFoot14" target="_blank">
Ma chaîne YouTube
</a>
</p>

</body>
</html>